<div class="col-sm-9 padd-lft-sb-cstm" style="padding-bottom: 40px;">
    <div class="row">
        <div class="col-sm-12 padd-lft-sb padd-tp-cstm mgn-btm-ct">
            <div class="ct-title">
                <div>
                    About
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mgn-btm-ct">
        <div class="row">
            <div class="col-sm-12 cntct-dtl-wp">
                <div class="row">
                    <div class="pd-ct-tp-wp">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 brdr-rt-wp sm-img">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="row">
                                                    <div class="col-sm-12 img-sm-mgn-btm1">
                                                        <div class="row">
                                                            <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"samp-img.jpg")" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 brdr-bl-cstm">
                                                        <div class="">
                                                            Top 5%
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 rnk-txt-wp">
                                                        <div class="row">
                                                            Ranking
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="col-sm-12 title-mn-wp">
                                                    <div class="row">
                                                        John Smith
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 title-mn-sbtitle">
                                                    <div class="row">
                                                        22 Building name, Street name City - Zipcode
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 title-mn-sbtitle2">
                                                    <div class="row">
                                                        465 321 6548
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 brdr-rt-wp">
                                    <div class="col-sm-12 mgn-hf-btm">
                                        <div class="row">
                                            <div class="col-sm-5 mgn-hf-scp">
                                                <div class="row">
                                                    <div class="col-sm-12 brdr-bl-cstm">
                                                        <div class="row">
                                                            2500
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 brdr-txt-btm">
                                                        <div class="row">
                                                            National Banking
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="row">
                                                </div>
                                            </div>
                                            <div class="col-sm-5 mgn-hf-scp">
                                                <div class="row">
                                                    <div class="col-sm-12 brdr-bl-cstm">
                                                        <div class="row">
                                                            75000
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 brdr-txt-btm">
                                                        <div class="row">
                                                            San Diego Country Ranking
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <select class="dd-cstm">
                                                <option value="volvo">Ranking Details</option>
                                                <option value="saab">Ranking</option>
                                                <option value="mercedes">Ranking</option>
                                                <option value="audi">Ranking</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-12 img-rt-mgn">
                                        <div class="row">
                                            <div class="col-sm-12 img-rt-txt">
                                                <div class="row">
                                                    Quality
                                                </div>
                                            </div>
                                            <div class="col-sm-12 img-ct-qlty">
                                                <div class="row">
                                                    <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"img-rt1.jpg")" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 img-rt-mgn">
                                        <div class="row">
                                            <div class="col-sm-12 img-rt-txt">
                                                <div class="row">
                                                    Satisfaction
                                                </div>
                                            </div>
                                            <div class="col-sm-12 img-ct-qlty">
                                                <div class="row">
                                                    <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"img-rt1.jpg")" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 img-rt-mgn">
                                        <div class="row">
                                            <div class="col-sm-12 img-rt-txt">
                                                <div class="row">
                                                    Price
                                                </div>
                                            </div>
                                            <div class="col-sm-12 img-ct-qlty">
                                                <div class="row">
                                                    <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"img-rt1.jpg")" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cf">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="row">

            <div class="col-sm-12 reviews-cntnt-wp-new">
                <div class="col-sm-12 srvc-mgn-btm">
                    <div class="row">
                        About the Doctor
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row shield-txt">
                        Known as an artist even before high school, Dr. Steve Laverson attended the United States Naval Academy on a Congressional Appointment from 1975-77, and graduated first in his class at the University of Maryland in 1979. At the University of Maryland Medical School in Baltimore, Steve decided that plastic surgery was the best fit for his artistic ability and for his love of beauty.
                        <br /><br />
                        Not one to abide short cuts, after medical school Dr. Laverson trained in general surgery and plastic surgery as an intern, resident, and fellow for ten years. He operated at many esteemed institutions with great surgeons at University of Maryland, Johns Hopkins, University of Pennsylvania, Emory, UCLA, USC, Stanford, and other respected centers. Dr. Laverson attributes his strong surgical confidence and technical skill to lessons learned during those years, in particular, his chief residency in general surgery at Cosmetic Surgery ClinicMartin Luther King Jr. (MLK) General Hospital in South Central Los Angeles. Perhaps the busiest trauma center in the world when he was there, MLK provided continuous opportunities for independent management of all types of major blunt and penetrating trauma. This experience was a crucible for the development of broad applied anatomical and physiologic knowledge, mature surgical judgment, technical excellence, and a sound foundation for a lifetime of intangible professional expertise that is not widely available. Dr. Laverson trained in plastic surgery with the largest and longest in existence private practice in the United States, the Long Island Plastic Surgical Group in New York. Dr. Laverson passed oral and written board examinations to become certified by the American Board of Surgery (1992) and by the American Board of Plastic Surgery (1995). He re-certified in Plastic Surgery in 2005, and participates in the American Board of Plastic Surgery Maintenance of Certification Program Annually. Dr. Laverson is a fellow of the American College of Surgeons, a member of the American Society of Plastic Surgeons, The American Society of Aesthetic Plastic Surgeons, and has operated Feel Beautiful Plastic Surgery in San Diego, California since 1993. Steve held a variety of clinical and administrative positions at local hospitals and contributed to peer reviewed journals such as Plastic and Reconstructive Surgery, Aesthetic Surgery Journal, New England Journal of Medicine, Lancet, Journal of Trauma, and others. His passion and professional focus is cosmetic improvement of the face, breasts, and body.
                    </div>
                </div>
            </div>

            <div class="col-sm-12 reviews-cntnt-wp-new">
                <div class="col-sm-12 srvc-mgn-btm">
                    <div class="row">
                        Accolades
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row txt-scroll scroll-height" id="scroll_1">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img1.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img3.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img5.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img2.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img4.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img6.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 reviews-cntnt-wp-new">
                <div class="col-sm-12 srvc-mgn-btm">
                    <div class="row">
                        Continuing Education
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row txt-scroll scroll-height" id="scroll_2">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img1.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img3.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img5.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img2.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img4.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img6.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 reviews-cntnt-wp-new">
                <div class="col-sm-12 srvc-mgn-btm">
                    <div class="row">
                        Hospital Privileges
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row txt-scroll scroll-height" id="scroll_3">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img1.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img3.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img5.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img2.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img4.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img6.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 reviews-cntnt-wp-new">
                <div class="col-sm-12 srvc-mgn-btm">
                    <div class="row">
                        Education
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row txt-scroll scroll-height" id="scroll_4">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img1.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img3.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img5.jpg")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-12 abt-lst-title">
                                                    Donec aliquam quam
                                                </div>
                                                <div class="col-sm-12 abt-lst-subtitle">
                                                    Fusce sollicitudin lorem
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img2.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img4.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 img-wd-src img-wd-src-wp">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <img src="@Rankipedia.Utilities.Helpers.StaticImage(Url,"about-img6.jpg")" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 abt-lst-title">
                                                            Donec aliquam quam
                                                        </div>
                                                        <div class="col-sm-12 abt-lst-subtitle">
                                                            Fusce sollicitudin lorem
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cf">
    </div>
</div>
